/* nav bar */ 
.navbar {
    background-color: #321a16;
}

/* highlights */ 
.highlight-container {
    padding-top: 50px;
    padding-bottom: 30px;
    
}


eceae3




/* footer */ 
.footer-container {
    padding-top: 50px;
    padding-bottom: 30px;
}

.footer {
    color: azure;
}


