/* font family */
body {
    font-family: "Open Sans", sans-serif;
}

h5.a {
    font-family: "Roboto", sans-serif;
    font-weight: 400;
}

p.b {
    font-family: "Roboto", sans-serif;
    font-weight: 300;
    color: dimgrey;
}



/* nav bar */ 
.navbar {
    background-color: #321a16;
}

/* carousel */ 
.carousel .item {
    height: 680px;
  }


/* highlights */ 
.highlight-container {
    padding-top: 50px;
    padding-bottom: 50px;
    
}

/* menu */ 
.menu {
    padding-top: 50px;
    padding-bottom: 125px;
}


/* footer */ 
.footer-container {
    padding-top: 50px;
    padding-bottom: 30px;
    background-color: #321a16;
}

.footer {
    color: azure;
}


