/* nav bar */ 
.navbar {
    background-color: #321a16;
}

/* carousel */ 
.carousel .item {
    height: 680px;
  }


/* highlights */ 
.highlight-container {
    padding-top: 50px;
    padding-bottom: 50px;
    
}

/* menu */ 
.menu {
    padding-top: 50px;
    padding-bottom: 125px;
}


/* footer */ 
.footer-container {
    padding-top: 50px;
    padding-bottom: 30px;
}

.footer {
    color: azure;
}


